<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDy_DOohs-VaWgMm_2VnbiOtceFCcL3C0o</string>
	<key>GCM_SENDER_ID</key>
	<string>619666938834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chepics.CHERRYPICKSET</string>
	<key>PROJECT_ID</key>
	<string>chepics-initial</string>
	<key>STORAGE_BUCKET</key>
	<string>chepics-initial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619666938834:ios:86cf636f897d36b701460b</string>
</dict>
</plist>